@font-face {
    font-family: idelist-sans-light;
    src: url(../font/idealist-sans.light.ttf);
}

body {
    margin: 0;
    background-color: #DFE1ED;
    font-family: idelist-sans-light;
}

@media screen and (min-width: 0px) and (max-width: 649px){}

@media screen and (min-width: 650px) and (max-width: 1919px) {}

@media screen and (min-width: 1920px) {}