@font-face {
    font-family: idelist-sans-light;
    src: url(../font/idealist-sans.light.ttf);
}

body {
    margin: 0;
    background-color: #DFE1ED;
    font-family: idelist-sans-light;
}

.gradient {
    height: 10%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, #DFE1ED);
    position: absolute;
    bottom: 0;
    left: 0;
}

.start {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color: #c5c2ba;
}

.main_photo {
    max-width: 100vw;
    object-fit: cover;
    display: block;
}

.logo {
    width: 15vw;
    /* Regola la larghezza del logo come preferisci */
    position: absolute;
    left: 50%;
    top: 50%;
    /* Centra il logo verticalmente rispetto al suo contenitore */
    transform: translate(-50%, -90%);
    /* Centra esattamente il logo */
}

.slogan {
    font-family: idelist-sans-light;
    font-size: 2.5vw;
    /* Adatta la dimensione del font in base alla larghezza dello schermo */
    position: absolute;
    left: 50%;
    top: 70%;
    /* Posiziona lo slogan appena sotto il logo */
    transform: translate(-50%, -50%);
    overflow: visible;
    white-space: nowrap;
}

.item {
    max-width: 80vw;
    height: max-content;
    position: relative;

    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
    margin: auto;
    grid-column-gap: 10vw;
    border-radius: 30px;
    padding: 2%;
}

.item:hover {
    background-color: #c5c2ba;
}

.item_image {
    height: 40vh;
    width: 40vh;
    max-width: 50vw;
    max-height: 50vw;

    background-color: black;
    border-radius: 5%;
    display: inline-block;
}

.item_image img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.image_left {
    grid-area: left;
    margin: auto;
    margin-left: 0px;
}

.image_right {
    grid-area: right;
    margin: auto;
    margin-right: 0px;
}

.separator {
    background-color: transparent;
    max-width: 100vw;
    height: 20vh;
}

.item_title {
    width: 100%;
    font-family: idelist-sans-light;
    font-size: 3vw;
    color: black;
    text-align: center;
}

.item_text {
    font-family: idelist-sans-light;
    color: black;
    display: inline-block;
    position: absolute;
    margin: auto;
}

.item_text_right {
    grid-area: right;
}

.item_text_left {
    grid-area: left;
}

.info {
    width: 50vw;
    display: grid;
    grid-template-areas: "pagine social";
    grid-template-columns: 1fr 1fr;
    margin: auto;
    /* Centra il contenitore nella pagina */
}

.info a {
    color: white;
    text-decoration: none;
}

.info h4 {
    margin: 5px;
}


.info>div {
    flex: 1;
    /* Fa in modo che ogni div occupi uno spazio uguale */
    text-align: center;
    /* Centra il testo all'interno di ogni div */
}

.info i {
    font-size: 24px;
    /* O la dimensione che preferisci */
    color: white;
    /* O il colore che preferisci */
}

.info .pagine {
    grid-area: pagine;
    display: grid;
    grid-template-rows: auto auto auto;
}

.info .social {
    grid-area: social;
    display: grid;
    grid-template-rows: auto auto auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@media screen and (min-width: 0px) and (max-width: 649px) {

    .gradient {}

    .container {}

    .logo {
        width: 35vw;
        /* Aumenta la larghezza del logo per schermi più piccoli */
    }

    .slogan {
        font-size: 5vw;
        /* Aumenta la dimensione del font dello slogan per schermi più piccoli */
    }

    .main_photo {
        height: 100svh;
        object-fit: cover;
        display: block;
    }

    .item {
        height: auto;
        width: auto;
        grid-template-columns: auto;
        grid-template-rows: 1fr 0.7fr;
        grid-template-areas:
            "top"
            "bottom";
        border-radius: 20px;
    }

    .item_image {
        height: 80vw;
        width: 80vw;
        max-width: 80vw;
        max-height: 80vw;
    }

    .image_left {
        grid-area: top;
    }

    .image_right {
        grid-area: top;
    }

    .separator {
        height: 10vh;
    }

    .item_title {}

    .item_text {
        grid-area: bottom;
    }

    .item_text_right {
        grid-area: bottom;
    }

    .item_text_left {
        grid-area: bottom;
    }

    .info {
        width: 99vw;
        font-size: 12px;
        grid-template-areas:
            "pagine"
            "social";
        grid-template-columns: 1fr;

    }

    .info i {
        font-size: 16px;
    }

    .info h4 {
        margin: 5px;
        display: inline-block
    }
}

@media screen and (min-width: 650px) and (max-width: 1919px) {

    .gradient {}

    .container {}

    .logo {
        width: 15vw;
        /* Adatta la larghezza del logo per schermi di medie dimensioni */
    }

    .slogan {
        font-size: 2.5vw;
        /* Mantiene la dimensione del font dello slogan per schermi di medie dimensioni */
    }

    .main_photo {
        width: 100vw;
    }

    .item {
        height: 30vh
    }

    .item_image {
        width: 30vh;
        height: 30vh;
    }

    .image_left {}

    .image_right {}

    .separator {}

    .item_title {}

    .item_text {
        font-size: 2vw;
    }

    .info {
        width: 85vw;
        font-size: 18px;
    }

    .info i {
        font-size: 18px;
    }
}

@media screen and (min-width: 1920px) {

    .gradient {}

    .container {}

    .logo {
        width: 15vw;
        /* Riduci la larghezza del logo per schermi più grandi */
    }

    .slogan {
        font-size: 2.5vw;
        /* Riduci la dimensione del font dello slogan per schermi più grandi */
    }

    .main_photo {
        width: 100vw;
    }

    .item {}

    .item_image {}

    .image_left {}

    .image_right {}

    .separator {}

    .item_title {
        font-size: 2vw;
    }

    .item_text {
        font-size: 1.5vw;
    }
}